.banner{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/fondonegro.png");
}
.sombra{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    padding: 20px;
    width: 80%;
    text-align: center;
    background-color: rgba(100, 100,100, 0.6);
    color: white;
    margin: auto;
}
.sombra hr{
    border-top: 1px solid white;
}
.sombra h1{
    font-size: 5vw;
    margin-bottom: 5px;
}

.sombra p{
    font-size: 3vw;
    margin-bottom: 5px;
}

.links{
    margin: 15px;
    position: relative;
}

.links a{ 
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 5px solid white;
    padding: 1px;
    margin-bottom: 5px;
    width: 150px;
}
.links a:hover{
    color:black;
    background-color: white;
}

.animation{
    opacity: 0;
    animation: animation 2s;
    -webkit-animation: animation 2s;
    animation-fill-mode: forwards;
}
.animation_1{
    opacity: 0;
    animation: animation 2s;
    -webkit-animation: animation 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}
.animation_2{
    opacity: 0;
    animation: animation 2s;
    -webkit-animation: animation 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}