
.contenedor_seccion_dos a{
    width: 150px;
    position: relative;
    /*display: flex;*/
    color: black;
    text-decoration: none;
    border: 5px solid black; 
    padding: 1px;
    margin-bottom: 5px;
    width: 150px;
}
.contenedor_seccion_dos a:hover{
    color:white;
    background-color: black;
}

.contenedor_seccion_uno {
  padding: 1%;
  color: black;
  margin-top: 10px;
  background-color: white; /* Degradado suave */
  border-radius: 10px; /* Bordes redondeados */
  transition: all 0.3s ease-in-out;
  border-color:10px solid black;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra sutil */
  margin: 20px 0; 
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  transform-origin: center center;
  
}

.contenedor_seccion_uno:hover {
    transform: perspective(1200px) translateZ(2px) scale(1.001);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.25);
}


.sombrados{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
}

.sombratres{  
    background-color:white;
    color: black;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #eee;
    
}
#imagen-previa{
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
    border-color: black;
}

.linea-arcoiris {
  border: none;
  height: 4px;
  background-image: linear-gradient(
    to right,
    #ec112a,   /* Rojo */
    #d487f0,   /* Naranja vibrante */
    #7b0816,   /* Amarillo */
    #8e0a19,   /* Verde neón (lime) */
    #681088    /* Azul eléctrico */
  );
}
#animacion-formacion::after {
  content: '|'; /* El caracter del cursor */
  margin-left: 5px;
  opacity: 1;
  /* Animación para que parpadee */
  animation: parpadeo 0.7s infinite;
}

.div_habilidades{
    padding: 1%;
    color: black;
    margin-top: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra sutil */
    border-color:10px solid black;
    background-color: white; /* Degradado suave */
    border-radius: 10px; /* Bordes redondeados */
    margin: 20px 0;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    transform-origin: center center;
}

.div_habilidades:hover{
    transform: perspective(1200px) translateZ(2px) scale(1.001);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.25);
}

.div_cursos{
  padding: 1%;
  color: black;
  margin-top: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra sutil */
  border-color:10px solid black;
  background-color: white; /* Degradado suave */
  border-radius: 10px; /* Bordes redondeados */
  margin: 20px 0;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  transform-origin: center center;
}
.div_cursos:hover{
  transform: perspective(1200px) translateZ(2px) scale(1.001);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.25);
}

.div_idiomas{
    padding: 1%;
    color: black;
    margin-top: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra sutil */
    border-color:10px solid black;
    background-color: white; /* Degradado suave */
    border-radius: 10px; /* Bordes redondeados */
    margin: 20px 0;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    transform-origin: center center;
}
.div_idiomas:hover{
    transform: perspective(1200px) translateZ(2px) scale(1.001);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.25);
}

.div_skills{
    padding: 1%;
    color: black;
    margin-top: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra sutil */
    border-color:10px solid black;
    background-color: white; /* Degradado suave */
    border-radius: 10px; /* Bordes redondeados */
    margin: 20px 0;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    transform-origin: center center;
}