.contenedor_seccion_uno{
    padding: 1%;
    color: black;
    margin-top: 10px;
}
.contenedor_seccion_dos{
    padding:  5%;
    margin-top: 10px;
    display: grid;
    place-items: center; /* ¡Esta línea hace las dos cosas!*/
}
.contenedor_seccion_dos a{
    width: 150px;
    position: relative;
    /*display: flex;*/
    color: black;
    text-decoration: none;
    border: 5px solid black; 
    padding: 1px;
    margin-bottom: 5px;
    width: 150px;
    

}
.contenedor_seccion_dos a:hover{
    color:white;
    background-color: black;
}

.contenedor_seccion_uno {
  background-color: white; /* Degradado suave */
  border-radius: 10px; /* Bordes redondeados */
  transition: all 0.3s ease-in-out;
  border-color:10px solid black;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra sutil */
  margin: 20px 0; 
  
}

/* Efecto al pasar el mouse (resalta el 3D) */
.contenedor_seccion_uno:hover {
  box-shadow: inset 6px 6px 12px #b8b8b8, inset -6px -6px 12px #ffffff;
  transform: translateY(-3px); /* Pequeño levantamiento */
}

.sombrados{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
}

.sombratres{  
    background-color:white;
    color: black;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #eee;
    
}
#imagen-previa{
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
    border-color: black;
}

.linea-arcoiris {
  border: none;
  height: 4px;
  background-image: linear-gradient(
    to right,
    #ec112a,   /* Rojo */
    #d487f0,   /* Naranja vibrante */
    #7b0816,   /* Amarillo */
    #8e0a19,   /* Verde neón (lime) */
    #681088    /* Azul eléctrico */
  );
}
#animacion-formacion::after {
  content: '|'; /* El caracter del cursor */
  margin-left: 5px;
  opacity: 1;
  /* Animación para que parpadee */
  animation: parpadeo 0.7s infinite;
}
