@keyframes animation{
    from{
        opacity: 0;
        top: -150px;
    }
    to{
        opacity: 1;
        top: 0;
    }
} 
@-webkit-keyframes animation{
    from{
        opacity: 0;
        top: -150px;
    }
    to{
        opacity: 1;
        top: 0;
    }
}

/* Definición de la animación */
@keyframes parpadeo {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}